# Ignore Python binary files
*.pyc
*.pyo
__pycache__/

# Ignore model files
*.pt
*.hdf5

# Ignore PyTorch Lightning logs and checkpoints
lightning_logs/
checkpoints/

# Ignore system files
.DS_Store
Thumbs.db


tb_logs/